.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__item--active .navbar__link {
  color: #000;
}

.navbar__link {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.navbar__link:hover {
  color: #000;
}